body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration-line: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1440px;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* header */

.top {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.top .container .navigation {
  display: flex;
  align-items: center;
}

.top .navigation .logo {
  margin-right: 76px;
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

.top .navigation .logo .studio {
  color: var(--NAVY-BLUE, #2e2f42);
}

.top .navigation .top-list {
  display: flex;
  gap: 40px;
}

.top .navigation .top-list .top-list-item {
  display: inline-block;
  padding: 24px 0;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.022em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 50ms;
}

.top .navigation .top-list .top-list-item.underline {
  position: relative;
  color: var(--OCEAN, #404bbf);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top .navigation .top-list .top-list-item.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--OCEAN, #404bbf);
  border-radius: 2px;
}

.top .navigation .top-list .top-list-item:hover,
.top .navigation.top-list .top-list-item:focus {
  color: #404bbf;
}

.top .adds .contact {
  display: flex;
  gap: 40px;
  flex-shrink: 0;
  font-style: normal;
}

.top .adds .contact .top-contact {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.021em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top .adds .contact .top-contact:hover,
.top .adds .contact .top-contact:focus {
  color: #404bbf;
}

/* section 1 hero */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  min-height: 600px;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/people-office.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.hero .title {
  max-width: 496px;
  margin: 0 auto;
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero .btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: #404bbf;
}

/* section 2 info */
/* hidden element */

.info {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.info .info-list {
  display: flex;
  gap: 24px;
}

.info .info-list .info-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.info .info-list .info-list-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background-color: var(--CLOUD, #f4f4fd);
}

.info .info-list .list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.info .info-list .list-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 3 team */

.team {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team .container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.team .team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team .team-list {
  display: flex;
  gap: 24px;
}

.team .team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team .team-item .discription {
  padding: 32px 0 32px 0;
}

.team .team-item .team-person {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team .team-item .team-direction {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-item .discription .links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0 16px;
}

.team-item .discription .links-list .icon-links {
  width: 40px;
  height: 40px;
}

.team-item .discription .links-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item .discription .links-list .link:hover,
.team-item .discription .links-list .link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/* section portpholio 4 */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.row .row-list .box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .row .row-list:hover .overlay-text {
  transform: translateY(0);
}

.portfolio .row .row-list {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .row .row-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio .row .row-list .discription {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .row .row-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio .row .row-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.ftr {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.ftr .container {
  display: flex;
  align-items: baseline;
}

.logo-wrapper {
  margin-right: 120px;
}
.ftr .ftr-a {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ftr .ftr-a .std {
  color: var(--CLOUD, #f4f4fd);
}

.ftr .ftr-p {
  max-width: 264px;
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ftr .ftr-social {
  margin-bottom: 16px;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ftr .links-list {
  display: flex;
  gap: 16px;
}
.ftr .links-list .icon-links {
  width: 40px;
  height: 40px;
}

.ftr .links-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr .links-list .link:hover,
.ftr .links-list .link:focus {
  background-color: var(--GREEN, #31d0aa);
}

.ftr .component {
  margin-left: 80px;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.ftr .input-footer {
  width: 264px;
  height: 40px;
  border: 1px solid var(--WHITE, #ffffff);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--WHITE, #ffffff);
}

.input-footer::placeholder {
  color: var(--WHITE, #ffffff);
}

.footer-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #ffffff);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.btn-wrap:hover,
.btn-wrap:focus {
  background-color: var(--OCEAN, #404bbf);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-icon {
  margin-left: 16px;
  fill: var(--WHITE, #fff);
}

/* form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8px;
  width: 408px;
  min-height: 584px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-btn:active {
  fill: #ffffff;
  background-color: #404bbf;
}

.icon-modal-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-item {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.input-field:focus {
  border-color: #4d5ae5;
}

.input-container .icon-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus + .icon-svg {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.user-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment:focus {
  border-color: #4d5ae5;
}

.user-comment:focus::placeholder {
  color: var(--IRIS, #4d5ae5);
}

.custom-checkbox {
  margin-bottom: 24px;
}

.accept-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.accept-click {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.checkbox:checked + label > span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-link {
  color: var(--IRIS, #4d5ae5);
  text-decoration-line: underline;
}

.modal .btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE, #fff);
  cursor: pointer;
  background-color: var(--IRIS, #4d5ae5);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .btn:hover,
.modal .btn:focus {
  background-color: var(--OCEAN, #404bbf);
}
